/* home page */

header {
    text-align: center;
    font-size: 4rem;
}

.hero-image {
    background: url("/static/images/hero_image.jpg") no-repeat center center;
    width: 100%;
    height: 20px;
}

body {
    color: white;
    background-color: #505050;
}

img {
    width: 50%
}

/* navbar */

.navbar {
    background-color: #505050;
}

ul li {
    list-style-type: none;
    margin-left: 20%;
}

a {
   text-decoration: none;
   color: white;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

/* post pages */

.post-title {
    font-size: 3rem;
    text-align: center;
}

.post-content {
    width: 100%;
}