/* home page */

.hero-text {
    text-align: center;
    font-size: 4rem;
}

.hero-image {
    background: url("/static/images/hero_image.jpg") no-repeat center center;
    width: 100%;
    height: 20rem;
    margin-bottom: 2%;
}

body {
    color: white;
    background-color: #505050;
}

img {
    width: 50%
}

/* card post displays */
 /* .card-text {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    /* max-height: 8%;
    overflow-x: hidden;
} */

/* navbar */

.navbar {
    background-color: #303030;
}

ul li {
    list-style-type: none;
    margin-left: 20%;
}

a {
   text-decoration: none;
   color: white;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

/* footer */

footer {
    background-color: #303030;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.ft-text {
    margin-bottom: 0%;
}

.ft-links {
    padding: 5%;
    font-size: 160%;
}

/* post pages */

.post-title {
    font-size: 3rem;
    text-align: center;
}

.post-content {
    width: 100%;
}
