/* home page */

header {
    text-align: center;
    font-size: 4rem;
}

body {
    color: white;
    background-color: #505050;
}

img {
    width: 30%
}

/* navbar */

.navbar {
    background-color: #505050;
}

ul li {
    list-style-type: none;
    margin-left: 20%;
}

a {
   text-decoration: none;
   color: white;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

/* post pages */

.post-content {
    width: 100%;
}