{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Internet Stories</title>

</head>
<body>
    <div class="container-fluid navbar">
        <nav class="navbar-expand-lg">
            <ul class="nav navbar-expand navbar-brand">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="admin/blog/post/add/">Make a Post</a>
                </li>
                <li>
                    <a href="{% url 'account_logout' %}">Sign-out</a>
                </li>
                {% elif user.is_authenticated %}
                <li>
                    <a href="{% url 'account_logout' %}">Sign-out</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_signup' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div>
    {% block content %}

    {% endblock content %}

    <footer class="footer">
        <p class="ft-text">Reach out to us at:</p>
        {% for smlink in smbase %}
            <a href="{{ smlink.name }}">
                <i class="{{ smlink.font_awesome_class }}">
            </a>
        {% endfor %}
        <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)" class="ft-links"><i class="fa-brands fa-twitter-square"></i></a>
        <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)" class="ft-links"><i class="fa-brands fa-facebook-square"></i></a>
        <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)" class="ft-links"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://linkedIn.com" target="_blank" rel="noopener" aria-label="Visit our LinkedIn page (opens in a new tab)" class="ft-links"><i class="fa-brands fa-linkedin"></i></a>
        <p>This website is for educational purposes only and the appropriate sources for the material used has been credited.</p>
    </footer>
</body>
</html>