{% extends "base.html" %}

{% block content %}

<header>Web Stories</header>
<div class="container-fluid">
    <div class="row card-group">
        {% for post in post_list %}
        <div class="col-3 p-3 card-columns">
            <div> <img class="image-thumbnail card-image-top" src="https://previews.123rf.com/images/sylverarts/sylverarts1710/sylverarts171000610/87432790-las-noticias-y-los-hechos-que-divulgan-el-logotipo-del-vector-compuso-usando-la-inscripci%C3%B3n-de-las-n.jpg" alt="The words world news are displayed with a microphone underneath and a globe for the 'o' in world."></div>
            <div><h3><a href="#" class="card-link card-title">{{ post.title }}</a></h3></div>
            <div class="card-text">{{ post.content }}</div>
            <div><p class="author">Author: {{ post.author }}</p></div>
        </div>
        {% endfor %}
    </div>
</div>
{% csrf_token %}
{% endblock %}