{% extends "base.html" %}

{% block content %}

<div class="container container-fluid">
    <div class="hero-image">
        <h1 class="hero-text">News Explosion</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row card-row">
        {% for post in post_list %}
        <div class="col-3 card-columns posts">
            {% if "placeholder" in post.featured_image.url %}
                <div> <img class="image-thumbnail card-image-top" src="static/images/placeholder_image.webp" alt="The words world news are displayed with a microphone underneath and a globe for the 'o' in world."></div>
            {% else %}
                <div> <img class="image-thumbnail card-image-top" src="{{ post.featured_image.url }}" alt=""></div>
            {% endif %}
            <div><h3><a href="{{ post.slug }}" class="card-link card-title" target="_blank">{{ post.title }}</a></h3></div>
            <div class="card-text">{{ post.content|safe }}</div>
            <div><p class="author">Author: {{ post.author }}</p></div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link paginate-color">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link paginate-color"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}    
</div>
{% csrf_token %}
{% endblock %}